.BOS_Profile {
    background-image: url("./../images/da2cd925bffd14af304889883503c2fa95defa14.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: "Lato",sans-serif;
}

    .BOS_Profile .container {
        background: rgba(255,255,255,.2);
        padding: 0;
    }

        .BOS_Profile .container .header {
            height: 60px;
            width: 100%;
            float: left;
            background: rgba(0,0,0,.7);
            padding: 0 20px;
            color: #fff;
        }

            .BOS_Profile .container .header a {
                color: #fff;
                text-decoration: none;
            }

                .BOS_Profile .container .header a:hover, .BOS_Profile .container .header a:focus {
                    color: #fff;
                    text-decoration: underline;
                }

            .BOS_Profile .container .header h2 {
                margin-top: 5px;
            }

        .BOS_Profile .container .main_body {
            width: 100%;
            float: left;
            height: auto;
            position: relative;
        }

            .BOS_Profile .container .main_body .left {
                width: 200px;
                height: calc(100vh - 90px);
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0,0,0,.7);
            }

            .BOS_Profile .container .main_body .right {
                height: calc(100vh - 90px);
                width: 100%;
                float: left;
                overflow-x: hidden;
                overflow-y: auto;
            }

                .BOS_Profile .container .main_body .right .custom-search-input {
                    margin: 0;
                    margin-top: 0;
                    padding: 0;
                }

                    .BOS_Profile .container .main_body .right .custom-search-input .search-query {
                        padding-right: 3px;
                        padding-right: 4px \9;
                        padding-left: 3px;
                        padding-left: 4px \9;
                        margin-bottom: 0;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        float: right;
                        width: 100%;
                    }

                    .BOS_Profile .container .main_body .right .custom-search-input .btn-danger {
                        background: #eb5d0b none repeat scroll 0 0;
                        border-color: #eb5d0b;
                    }

                        .BOS_Profile .container .main_body .right .custom-search-input .btn-danger:hover {
                            background: #933601 none repeat scroll 0 0;
                            border-color: #933601;
                            transition: background-color .5s ease;
                        }

                .BOS_Profile .container .main_body .right .search-query:focus + button {
                    z-index: 3;
                }

                .BOS_Profile .container .main_body .right p {
                    margin-bottom: 20px;
                }

                    .BOS_Profile .container .main_body .right p:first-of-type {
                        margin-bottom: 0;
                    }

                    .BOS_Profile .container .main_body .right p:nth-of-type(2) {
                        margin-top: 20px;
                    }

                    .BOS_Profile .container .main_body .right p label {
                        margin-bottom: 0;
                    }

                        .BOS_Profile .container .main_body .right p label select {
                            color: #9c9a9a;
                            font-weight: 400;
                            padding-right: 3px;
                            padding-right: 4px \9;
                            padding-left: 3px;
                            padding-left: 4px \9;
                            margin-bottom: 0;
                            -webkit-border-radius: 3px;
                            -moz-border-radius: 3px;
                            border-radius: 3px;
                            max-width: 250px;
                            height: 34px;
                            margin-left: 5px;
                        }

                .BOS_Profile .container .main_body .right .user_profile_outer {
                    width: 200px;
                    height: auto;
                    float: left;
                    text-align: center;
                }

                    .BOS_Profile .container .main_body .right .user_profile_outer .user_profile_inner {
                        width: 100%;
                        height: 200px;
                        background: #fff;
                        border: 3px dashed #c6c6c6;
                        float: left;
                    }

                    .BOS_Profile .container .main_body .right .user_profile_outer .btn-primary {
                        background: #fff none repeat scroll 0 0;
                        border-color: #fff;
                        color: #000;
                        font-size: 14px;
                        height: 35px;
                        padding: 2px 10px;
                        transition: background-color .5s ease;
                    }

                        .BOS_Profile .container .main_body .right .user_profile_outer .btn-primary:hover:hover {
                            background: #e5e5e5 none repeat scroll 0 0;
                            border-color: #e5e5e5;
                            transition: background-color .5s ease;
                        }

                .BOS_Profile .container .main_body .right .username {
                    width: calc(100% - 200px);
                    padding: 0 20px;
                    float: left;
                }

                    .BOS_Profile .container .main_body .right .username h1 {
                        color: #fff;
                        margin-top: 5px;
                        margin-bottom: 0;
                    }

                        .BOS_Profile .container .main_body .right .username h1.fontawesome {
                            color: #49b1c1;
                            font-size: 28px;
                        }

                    .BOS_Profile .container .main_body .right .username h3 {
                        color: #fff;
                        margin-top: 5px;
                        margin-bottom: 0;
                    }

                    .BOS_Profile .container .main_body .right .username h4 {
                        color: #fff;
                        margin-top: 5px;
                        margin-bottom: 0;
                    }

                    .BOS_Profile .container .main_body .right .username h5 {
                        color: #fff;
                    }

                .BOS_Profile .container .main_body .right h4 {
                    color: #000;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }

                    .BOS_Profile .container .main_body .right h4.bigraphy {
                        color: #fff;
                    }

                .BOS_Profile .container .main_body .right p {
                    color: #fff;
                    font-size: 14px;
                }

                .BOS_Profile .container .main_body .right .BOS_card {
                    width: 100%;
                    height: 168px;
                    background: rgba(255,255,255,.8);
                    -webkit-box-shadow: 0 0 10px 0 0 10px rgba(255,255,255,.5);
                    box-shadow: 0 0 10px 0 0 10px rgba(255,255,255,.5);
                    border-radius: 4px;
                }

                    .BOS_Profile .container .main_body .right .BOS_card .user_image {
                        width: 60px;
                        height: 60px;
                        float: left;
                        border-radius: 4px;
                        background: url(../images/user.png) no-repeat;
                        background-size: cover;
                        margin-left: 5px;
                        margin-top: 5px;
                    }

                    .BOS_Profile .container .main_body .right .BOS_card .user_name {
                        width: calc(100% - 65px);
                        padding: 5px 10px;
                        color: #000;
                        float: left;
                    }

                        .BOS_Profile .container .main_body .right .BOS_card .user_name h4 {
                            margin-top: 0;
                            margin-bottom: 5px;
                            color: #000;
                            font-weight: 400;
                        }

                        .BOS_Profile .container .main_body .right .BOS_card .user_name h5 {
                            margin-top: 0;
                            margin-bottom: 5px;
                            color: #000;
                        }

                    .BOS_Profile .container .main_body .right .BOS_card h2 {
                        margin-top: 0;
                        color: #49b1c1;
                        font-size: 24px;
                    }

                    .BOS_Profile .container .main_body .right .BOS_card h5 {
                        margin-top: 0;
                    }

                        .BOS_Profile .container .main_body .right .BOS_card h5.more_info {
                            color: #000;
                            cursor: pointer;
                        }

                        .BOS_Profile .container .main_body .right .BOS_card h5 i {
                            color: #eb5d0b;
                        }

                            .BOS_Profile .container .main_body .right .BOS_card h5 i.grey {
                                color: #767676;
                            }

                        .BOS_Profile .container .main_body .right .BOS_card h5 span {
                            color: #000;
                            margin-left: 10px;
                        }