@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/*Margins*/
.margin0 {
  margin: 0; }

.margin5 {
  margin: 5px; }

.margin10 {
  margin: 10px; }

.margin15 {
  margin: 15px; }

.margin20 {
  margin: 20px; }

.margin25 {
  margin: 25px; }

.margin30 {
  margin: 30px; }

.margintop0 {
  margin-top: 0 !important; }

.margintop5 {
  margin-top: 5px; }

.margintop10 {
  margin-top: 10px; }

.margintop15 {
  margin-top: 15px; }

.margintop20 {
  margin-top: 20px; }

.margintop25 {
  margin-top: 25px; }

.margintop30 {
  margin-top: 30px; }

.margintop35 {
  margin-top: 35px; }

.margintop40 {
  margin-top: 40px; }

.margintop45 {
  margin-top: 45px; }

.marginbottom5 {
  margin-bottom: 5px; }

.marginbottom10 {
  margin-bottom: 10px; }

.marginbottom15 {
  margin-bottom: 15px; }

.marginbottom20 {
  margin-bottom: 20px; }

.marginbottom25 {
  margin-bottom: 25px; }

.marginbottom30 {
  margin-bottom: 30px; }

.marginleft0 {
  margin-left: 0; }

.marginleft5 {
  margin-left: 5px; }

.marginleft10 {
  margin-left: 10px; }

.marginleft15 {
  margin-left: 15px; }

.marginleft20 {
  margin-left: 20px; }

.marginleft25 {
  margin-left: 25px; }

.marginleft30 {
  margin-left: 30px; }

.marginright5 {
  margin-right: 5px; }

.marginright10 {
  margin-right: 10px; }

.marginright15 {
  margin-right: 15px; }

.marginright20 {
  margin-right: 20px; }

.marginright25 {
  margin-right: 25px; }

.marginright30 {
  margin-right: 30px; }

/*End of margins*/
/*Padding*/
.padding0 {
  padding: 0 !important; }

.padding10 {
  padding: 10px; }

.padding15 {
  padding: 15px; }

.padding20 {
  padding: 20px; }

.padding25 {
  padding: 25px; }

.padding30 {
  padding: 30px; }

.paddingtop5 {
  padding-top: 5px; }

.paddingtop10 {
  padding-top: 10px; }

.paddingtop15 {
  padding-top: 15px; }

.paddingtop20 {
  padding-top: 20px; }

.paddingtop25 {
  padding-top: 25px; }

.paddingtop30 {
  padding-top: 30px; }

.paddingright5 {
  padding-right: 5px; }

.paddingright10 {
  padding-right: 10px; }

.paddingright15 {
  padding-right: 15px; }

.paddingright20 {
  padding-right: 20px; }

.paddingright25 {
  padding-right: 25px; }

.paddingright30 {
  padding-right: 30px; }

.paddingright50 {
  padding-right: 50px; }

.paddingleft5 {
  padding-left: 5px; }

.paddingleft10 {
  padding-left: 10px; }

.paddingleft15 {
  padding-left: 15px; }

.paddingleft20 {
  padding-left: 20px; }

.paddingleft25 {
  padding-left: 25px; }

.paddingleft30 {
  padding-left: 30px; }

.paddingleft35 {
  padding-left: 35px; }

.paddingbottom5 {
  padding-bottom: 5px; }

.paddingbottom10 {
  padding-bottom: 10px; }

.paddingbottom15 {
  padding-bottom: 15px; }

.paddingbottom20 {
  padding-bottom: 20px; }

.paddingbottom25 {
  padding-bottom: 25px; }

.paddingbottom30 {
  padding-bottom: 30px; }
